#sddm
{	margin: 0;
	padding: 0;
	z-index: 0}

#sddm li
{	
	position: relative;
	list-style: none;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	border: 0.1px solid;
	width: 50px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	
background: #49A3FF}

#sddm div
{	position: relative;
	visibility: hidden;
	margin: -50px -100px -2px 70px;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	#sddm div a:hover
	{
	background: #49A3FF;
		color: #FFF}

