.alignTopFixWidth {
	 width:1000px;
	 vertical-align:top;
}
.alignTop {
	 vertical-align:top;
}
.alignTopWidth1 {
	 width:650px;
	 vertical-align:top;
}
.alignTopWidth2 {
	 width:330px;
	 vertical-align:top;
}
.sartable-outer {
	    table-layout:fixed;
		 width:380px;
		 word-wrap:break-word;
		 border-collapse:collapse;
}
.sartable-inner {
	    table-layout:fixed;
		 width:378px;
		 #word-wrap:break-word;
		 border: 1px solid black;
		 border-collapse:collapse;
}