.alignTopFixWidth {
	 width:1000px;
	 vertical-align:top;
}
.alignTop {
	 vertical-align:top;
}
.alignTopWidth1 {
	 width:650px;
	 vertical-align:top;
}
.alignTopWidth2 {
	 width:350px;
	 vertical-align:top;
}
.sartable-outer {
	    table-layout:fixed;
		 width:400px;
		 word-wrap:break-word;
		 border-collapse:collapse;
}
.sartable-inner {
	    table-layout:fixed;
		 width:398px;
		 #word-wrap:break-word;
		 border: 1px solid black;
		 border-collapse:collapse;
}