.alignTopFixWidth {
	 width:1000px;
	 vertical-align:top;
}
.alignTop {
	 vertical-align:top;
}
.alignTopWidth1 {
	 width:650px;
	 vertical-align:top;
}
.alignTopWidth2 {
	 width:350px;
	 vertical-align:top;
}
#sartable {
	    table-layout:fixed;
		 width:350px;
		 word-wrap:break-word
}