/*
Part of the Gridsphere default theme
Author: Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: layout.css 3235 2004-06-22 12:49:28Z wehrens $
*/

.header {
    background-color: #d6d6d6;
    padding: 0px;
    margin: 0px;
}

